*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Red Rose", cursive;
    overflow: hidden;
    
}
body{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(../assets/pexels-maxyne-barcel-10402282\ 1.png);
    background-repeat: repeat;
    height: 100%;
    width: 100%;
    background-attachment: fixed;
    background-size: cover;
}
nav{
   
    
    display: flex;
    justify-content: center;
    align-items:center;
    justify-content: space-between;
     height: 20%;
     width: 100%;
    margin-top: 30px ;
    margin-left: 50px;
    
    padding: 0 60px 0 60px;
}
nav button{
    margin-right: 30px;    
}
.logo img{
    width: 150px;
}

.logo{
    position: absolute;
    left:30px ;
    
}
.logo,li{
cursor: pointer;
}  

nav ul{
    display: flex;
    align-items: center;
}
nav ul li{
    display: flex;
    align-items: center;
    list-style: none;
    font-weight: 400;
    font-style: normal;
    gap: 63px;
    color: rgb(226, 226, 67);
    font-size: 18px;
    margin-right: 20px;
    line-height: 22px;
}
nav button {
    
    
    padding: 12px 40px;
    font-size: 22px;
    color: white;
    font-family: "Red Rose", cursive;
    background-color: rgb(184, 26, 86);
    border: none;
    font-weight: 700;
    cursor: pointer;
}
main{
    max-width: 1104px;
    margin: 0 auto;
    text-align: center;
    margin-top: 80px;
}
main h1{
    display: flex;
    margin-left: 150px;
    margin-right: 150px;
    justify-content: center;
    position: relative;
    font-family: "Dela Gothic One", cursive;
    font-size: 65px;
    font-weight: 400;
    color: rgb(214, 214, 58);
    line-height:85px;
    
    
    
}
main button{
    
 
    width: 280px;
    padding: 30px 20px;
    font-size: 25px;
    color: white;
    background-color: rgb(184, 26, 86);
    border: none;
    font-weight: 600;
   line-height: 10px;
  margin-top: 50px;
cursor: pointer;
}
.button {
    position: fixed;
    bottom: 20px;
    right: 40px;
  }
  .button img{
   width: 120px;
  }